<div class="admin-sidebar w-64 min-h-screen flex flex-col">
    <div class="p-6 border-b border-gray-700">
        <div class="flex items-center">
            <div class="text-center">
                <h1 class="text-secondary text-xl font-bold">{{'admin.panel' | translate}}</h1>
            </div>
        </div>
    </div>
    
    <div class="flex-1 py-4">
        <ul class="space-y-1">
            <li class="nav-item active">
                <a routerLink="product" class="flex items-center p-4">
                    <i class="fas fa-shopping-cart text-secondary mr-3"></i>
                    <span>{{'admin.products' | translate}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="stadistic" class="flex items-center p-4">
                    <i class="fas fa-fire  mr-3"></i>
                    <span>{{'admin.promos' | translate}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="orders" class="flex items-center p-4">
                    <i class="fas fa-shopping-cart  mr-3"></i>
                    <span>{{'admin.orders' | translate}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="testimonials" class="flex items-center p-4">
                    <i class="fas fa-comments  mr-3"></i>
                    <span>{{'admin.testimonials' | translate}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="testimonials" class="flex items-center p-4">
                    <i class="fas fa-users  mr-3"></i>
                    <span>{{'admin.users' | translate}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="settings" class="flex items-center p-4">
                    <i class="fas fa-cog  mr-3"></i>
                    <span>{{'admin.settings' | translate}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>


<div class="fixed bottom-6 right-6 z-50">
    <button class="btn btn-primary btn-circle shadow-lg">
        <i class="fas fa-plus text-xl"></i>
    </button>
</div>

