<div id="menu" class="py-20">
    <div class="container mx-auto px-4">
        <div class="text-center mb-16">
            <h2 class="text-4xl font-bold mb-4 text-dark">{{'menu.title' | translate}} <span class="text-primary">{{'others.hot' | translate}}</span></h2>
            <p class="text-xl  max-w-2xl mx-auto">
                {{'menu.details' | translate}}
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          @if (products.length>0) {
            @for (product of products; track $index; ) {
            @if (product.isAvailable) {
              <div class="menu-item card image-full bg-base-100 shadow-xl transition-all duration-300">
                @let image = product.imageUrl;
                @if(image){
                  <figure class="relative">
                    <img fill [ngSrc]="image" />
                  </figure>
                }
                <div class="card-body">
                  <div class="flex justify-between items-start">
                    <h3 class="card-title text-2xl font-bold">{{product.name}}</h3>
                    <span class="spicy-label">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                      </svg>
                    </span>
                  </div>
                  <p class="">{{product.description}}</p>
                  @if (product.ingredients.length>0){
                    <h3 class="text-2xl">{{'menu.ingredients' | translate}}</h3>
                    @for (ingredient of product.ingredients; track $index) {
                      <div class="mb-4 flex justify-between">
                        <p class="">{{ingredient?.name}}</p>
                        <p class="">{{ingredient?.price | currency:"EUR"}}</p>
                      </div>

                      }
                    }
                    <div class="flex justify-between items-center">
                        <span class="text-xl font-bold text-primary">{{product.price | currency: "EUR"}}</span>
                        <button class="btn btn-secondary">
                            {{ 'buttons.add' | translate }} <i class="fas fa-plus ml-2"></i>
                        </button>
                    </div>
                  </div>
                </div>
              }
          }
          }@else{
            <div class="">
              <span class="text-secundary">Todavia no hay productos</span>
            </div>
          }
        </div>
    </div>
</div>
