<div class="modal" [class.modal-open]="isOpen()">
    <div class="modal-box w-11/12 max-w-5xl">
      <button (click)="handleClose()" class="btn btn-sm btn-circle absolute right-2 top-2">✕</button>
      <h3 class="font-bold text-xl">{{ data() ? 'Editar' : 'Crear' }} Producto</h3>
      
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="mt-4 space-y-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Nombre*</span>
            </label>
            <input
              type="text"
              formControlName="name"
              class="input input-bordered"
              placeholder="Nombre del producto"
            >
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text">Precio* (€)</span>
            </label>
            <input
              type="number"
              formControlName="price"
              class="input input-bordered"
              min="0"
              step="0.01"
            >
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text">Tiempo Preparación (min)</span>
            </label>
            <input
              type="number"
              formControlName="preparationTime"
              class="input input-bordered"
              min="0"
            >
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text">Stock*</span>
            </label>
            <input
              type="number"
              formControlName="stock"
              class="input input-bordered"
              min="0"
            >
          </div>

          <div class="form-control">
            <label class="label cursor-pointer">
              <span class="label-text">Disponible*</span>
              <input
                type="checkbox"
                formControlName="isAvailable"
                class="toggle toggle-primary"
              >
            </label>
          </div>

          <div class="form-control">
            <label class="label cursor-pointer">
              <span class="label-text">Es Vegetariano</span>
              <input
                type="checkbox"
                formControlName="isVegetarian"
                class="toggle toggle-primary"
              >
            </label>
          </div>

          <div class="form-control">
            <label class="label cursor-pointer">
              <span class="label-text">Es Vegano</span>
              <input
                type="checkbox"
                formControlName="isVegan"
                class="toggle toggle-primary"
              >
            </label>
          </div>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">Descripción</span>
          </label>
          <textarea
            formControlName="description"
            class="textarea textarea-bordered"
            placeholder="Descripción"
          ></textarea>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">URL de la Imagen</span>
          </label>
            <!-- formControlName="imageUrl"  -->
            <input
            type="file"
            class="input input-bordered"
            (change)="onImagePicked($event)"
          >
        </div>

        <!-- Selector de Ingredientes -->
        <div class="mt-6">

          <div class="mt-2">
            <label class="label">
              <span class="label-text">Ingredientes*</span>
            </label>
            <select
              class="select select-bordered w-full"
              (change)="onIngredientSelect($event)"
            >
              <option value="" disabled selected>Selecciona ingredientes</option>
              <option *ngFor="let ingredient of ingredients" [value]="ingredient._id">
                {{ ingredient.name }} ({{ ingredient.price | currency:'EUR' }})
              </option>
            </select>

            <!-- Lista de ingredientes seleccionados -->
            <div class="mt-4">
              <div class="overflow-x-auto">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Precio</th>
                      <th>Unidad</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ingredientId of productForm.get('ingredients')?.value; let i = index">
                      <td>{{ getIngredientName(ingredientId) }}</td>
                      <td>{{ getIngredientPrice(ingredientId) | currency:'EUR' }}</td>
                      <td>{{ getIngredientUnit(ingredientId) }}</td>
                      <td>
                        <button
                          type="button"
                          (click)="removeIngredient(i)"
                          class="btn btn-sm btn-error"
                        >
                          Eliminar
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-2">
          <label class="label">
              <span class="label-text">Categorias*</span>
            </label>
            <select
              class="select select-bordered w-full"
              (change)="onCategorySelect($event)"
            >
              <option value="" disabled selected>Selecciona la Categoria</option>
              <option *ngFor="let category of categories" [value]="category._id">
                {{ category.name }}
              </option>
            </select>

            <!-- Lista de ingredientes seleccionados -->
            <div class="mt-4">
              <div class="overflow-x-auto">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="productForm.get('category')?.value">
                    <tr>
                      <td>{{ getCategoryName(productForm.get('category')?.value) }}</td>
                      <td>
                        <button
                          type="button"
                          (click)="removeCategory()"
                          class="btn btn-sm btn-error"
                        >
                          Eliminar
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        <div class="modal-action">
          <button type="button" (click)="handleClose()" class="btn">Cancelar</button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="productForm.invalid"
          >
          @if (isLoading) {
              <span class="loading loading-spinner loading-xs"></span>
            }
            {{ data() ? 'Actualizar' : 'Guardar' }}
          </button>
        </div>
      </form>
    </div>
  </div>