<div class="modal" [class.modal-open]="isOpen()">
    <div class="modal-box w-11/12">
      <button (click)="handleClose()" class="btn btn-sm btn-circle absolute right-2 top-2">✕</button>
      <h3 class="font-bold text-xl">Borrar {{ data()?.title }}</h3>
      
      <div class="mt-4 space-y-4">
        <div class="modal-action">
          <button type="button" (click)="handleClose()" class="btn">Cancelar</button>
          <button type="button" (click)="onSubmit()" class="btn btn-primary">
            @if (isLoading) {
              <span class="loading loading-spinner loading-xs"></span>
            }
            Borrar
          </button>
        </div>
    </div>
    </div>
  </div>
